.container {
    background-color: #ffffff;
    width: fit-content;
    padding: 5%;
    border-radius: 5%;
    text-align: left;
}
.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
body {
    background: #fafafa;
}

.kirim{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.batal{
    width: 100%;
    background-color: #ffffff;
    color: #4CAF50;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #53af50;
    border-radius: 4px;
    cursor: pointer;
}